PORT=3000

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

ADMIN_USER=CHANGE_ADMIN_USERNAME
ADMIN_PASSWORD=CHANGE_ADMIN_PASSWORD

MSG91_AUTHKEY=YOUR_MSG91_SERVER_AUTHKEY
MSG91_WIDGET_ID=YOUR_MSG91_WIDGET_ID
